html,body{
    background: hsl(218, 23%, 16%);
    height:100%
}

#root{
    height: 100%;
}

.bg{
    background:hsl(217, 19%, 24%)
}

.bg-neon {
    background: hsl(150, 100%, 66%);
}

.text-neon {
    color: hsl(150, 100%, 66%)
}

#diceIcon:hover{
    /* animation: rotate 1s linear; */

}

/* Rotate using @keyframes */

/* @keyframes rotate {
 0% {transform: rotate(0deg)};
 50%{transform: rotate(180deg)};
 100%{transform: rotate(360deg);}   
} */