@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Outfit:wght@100;700&display=swap');

html,body{
    background: hsl(218, 23%, 16%);
    height:100%;
    font-size:28px;
}

#root{
    height: 100%;
}

.bg{
    background:hsl(217, 19%, 24%)
}

.bg-neon {
    background: hsl(150, 100%, 66%);
}

.text-neon {
    color: hsl(150, 100%, 66%)
}

#diceIcon{
    transition: transform .7s ease-in-out;
}

#diceIcon:hover{
    /* animation: rotate 1s linear; */
    transform: rotate(360deg);

}

/* Rotate using @keyframes */

/* @keyframes rotate {
 0% {transform: rotate(0deg)};
 50%{transform: rotate(180deg)};
 100%{transform: rotate(360deg);}   
} */


.fonts {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
  
}