.container2{
    background-color: aliceblue;

   
    
   
    height: 40vh;
   
    width: 30vw;

    
 
    
  
  
    
}


.left-0{
    left: 0em;
}

.sub-container2> div {
    margin-right: 8px;
}

/* .container2> div {
    margin: 8px;
} */


.sub-container{
    display: flex;
    border: 1px groove grey;
    height: 13em;
    width: 10.5em;

    padding: 9px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3%;
}

.color-grey{
    color:grey
}


.selected{
   border: 1px solid hsl(243, 100%, 62%);
 
}



/* Toggle Switch */


.toggle{
    width: 100%;
    border: 2px transparent hsl(206, 94%, 87%);
    background-color: hsl(206, 94%, 87%,0.2);
    
}

.toggle > div {
    margin: 1rem;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
#label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: hsl(213, 96%, 18%);
    display: block;
    border-radius: 100px;
    position: relative;
}
#label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + #label {
    background: hsl(213, 96%, 18%);
}
input:checked + #label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
#label:active:after {
    width: 20px;
}

/* ------------- */




@media screen and (max-width:300px) {
    .container2{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;

    }

    
}

