
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html{
    height: 100%;
    
    

    
    
    
    /* overflow: hidden; */
}


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #B9D9EB;
}

:root{
    --marine_blue: hsl(213, 96%, 18%);
    --purplish_blue:hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light_blue:hsl(206, 94%, 87%);
    --strawberry_red:hsl(354, 84%, 57%);

}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}


.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}


.w-100{
    width: 100%;
}
/* width */




/*  */


/* padding */
.pad-1{
    padding: 1rem;
}

.pad-2{
    padding: 2rem;
}

/* --FOR TESTING--- */

.test-red{
    border: 2px solid red;
}

.test-green{
    border: 2px solid green;
}


.test-yellow{
    border: 2px solid yellow;
}
/*  */

.main-container {
    height: 100vh;
}


.container{
    border-radius: 2%;
    width: 70vw ;
    height: 80vh;
    background-color: aliceblue;
}


/* MARGINS */


.mr-100{
    margin-right: 117px;
}

.m-auto{
    margin: auto;
}


.ml-100{
    margin-left:100px;
}

.margin-20px{
    margin: 20px;
}


.mt-10{
    margin-top: 10px;
}

.mt-100{
    margin-top: 100px;
}





/* flex */


.self.center{
    align-self: center;
}

.self-start{
    align-self:flex-start;
}


.self-end{
    align-self: flex-end;
}

.self-stretch{
    align-self: stretch;
}

.text-center{
   text-align: center;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.margin-auto{
    margin: auto;
}

.block{
    display: block;
}



/* Setting Background */



.bg-image{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 1rem ;
}


/* circle round */

.circle{
    height: 55px;
    width: 55px;
    border: 1px solid white;
    border-radius: 100%;
    display: inline-block;
    

}


/* fonts styles */


.font-bold{
    font-weight: bold;
}


.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-700{
    font-weight: 700;
}

.color-light-blue{
    color:#e0e0e0
}


.font-small{
    font-size: small;
}

.font-smaller{
    font-size:smaller;
}

.font-xl{
    font-size:x-large
}

.font-large{
    font-size: large;
}

.font-larger{
    font-size: larger;
}

.font-xxl{
    font-size: xx-large;
}


/* COLORS */


.color-white{
    color:whitesmoke;
}

.color-marine-blue{
    color: var(--marine_blue)
}


/* ------------------ */

/* Forms Inputs Changes  */

label:nth-child(1){
    
    margin-top:55px
}

label{
    display: block;
    font-size:larger;
    padding: 5px;
    margin-bottom: 2px;
    margin-top: 10px;
   
}


input{
    padding: 5px;
    height: 2.5rem;
    width: 34vw;
    border-radius: 0.2em;
    border: 1px groove gray;
 
    font-size: x-large;
    color: var(--marine_blue)
    
}


/* Header Classes  */


.header {
    margin-bottom: 5vh;

}

/* FLOATS */

.float-right{
    float: right;
}

.float-left{
    float: left;
}

/* Error */

.error{
    color:var(--strawberry_red);
    font-size:medium;

}


.error-border{
    border: 1px solid var(--strawberry_red)
}


.hide{
    display: none;
}

.show{
    display: block;
}


/* Button */

.btn{
    height: 5vh;
    width:10vw;
    background-color: var(--marine_blue);
    color: #e0e0e0;
    font-size: x-large;
}

.btn:hover{
    background-color:whitesmoke;
    color: var(--marine_blue);
}


