
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');


html{
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Crimson Text', serif;
  
}


/* CSS OF DARK MODE */
.dark-mode {
  background-color: black;
  color:white
}

.container{
  width:65vw;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.sub-container{
 /* padding: 100px; */
 padding: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
  
 

}

.sub-container > * {
  margin: 5px;
  padding: 2px;
 
}






/* DROPDOWN */

